body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "dancing";
  src: url("./fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "dancing-bold";
  src: url("./fonts/Dancing_Script/static/DancingScript-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "dancing-med";
  src: url("./fonts/Dancing_Script/static/DancingScript-Medium.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
